@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.slider {
  width: 100%;
  height: 1vh;
}

.slider .track {
  top: 1vh;
  height: 0.5vh;
}

.track.track-0 {
  background: #bbdefb;
}

.track.track-1 {
  background: #64b5f6;
}

.track.track-2 {
  background: #bbdefb;
}

.slider .thumb {
  top: 0.5vh;
  width: 12px;
  height: 12px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 0.8em;
  background-color: #1e88e5;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
}